/* font-family: "Lato", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* HEADER */
.header__content {
  padding: 22px 0;
  border-bottom: 3px solid #f1b128;
  display: flex;
  justify-content: space-between;
}

.header__nav-list {
  padding-bottom: 10px;
  display: flex;
  column-gap: 69px;
}

.header__nav-link {
  transition: 150ms;
  /* transition: 1s; */
}

.header__nav-link:hover {
  color: #f1b128;
}

/* MAIN BANNER */
.main-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 900px;
  padding: 150px 0;
  background-image: url("../img/main-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-banner__content {
  color: #fff;
}

.main-banner__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.main-banner__subtitle {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 22px;
}

.main-banner__wrapper-slogan {
  max-width: 100%;
  width: max-content;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 0 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-banner__wrapper-slogan span {
  display: inline-block;
  padding: 38px 0;
}

.main-banner__wrapper-slogan .branded-color {
  color: #f48e0b;
  border-right: 1px solid #f48e0b;
  padding-right: 23px;
  margin-right: 23px;
}

/* About us section */
.about-us {
  padding: 124px 0 126px 0;
}

.about-us__title {
  text-align: center;
  margin-bottom: 12px;
}

.about-us__subtitle {
  text-align: center;
  margin-bottom: 56px;
  padding-bottom: 48px;
}

.about-us__content-wrapper {
  display: flex;
  column-gap: 30px;
}

.about-us__card-wrapper {
  width: 50%;
  display: flex;
  gap: 22px 30px;
  flex-wrap: wrap;
}

.about-us__text-wrapper {
  width: 50%;
}

.about-us__card {
  width: calc(50% - 15px);
}

.about-us__card--bg1 {
  background-image: url("../img/about-us-1.png");
}

.about-us__card--bg2 {
  background-image: url("../img/about-us-2.png");
}

.about-us__card--bg3 {
  background-image: url("../img/about-us-3.png");
}

.about-us__card--bg4 {
  background-image: url("../img/about-us-4.png");
}

.about-us__text-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  line-height: 1;
  margin-bottom: 22px;
}

.about-us__text-title span {
  color: #f1ad1d;
}

.about-us__text-flow {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #505050;
  margin-bottom: 36px;
}

.about-us__text-flow p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

/* secret-of-company section */
.secret-of-company {
  padding: 110px 0;
}

.secret-of-company__title {
  text-align: center;
  margin-bottom: 28px;
}

.secret-of-company__subtitle {
  text-align: center;
  margin-bottom: 53px;
}

.secret-of-company__card-wrapper {
  display: grid;
  /* grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
}

.secret-of-company__card {
  position: relative;
}

.secret-of-company__card:nth-child(odd):before {
  content: "";
  display: block;
  background-image: url("../img/icon-star.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.secret-of-company__card--item-1 {
  background-image: url("../img/team-photo-1.jpg");
}

.secret-of-company__card--item-2 {
  background-image: url("../img/team-photo-2.jpg");
}

/* BRANDS */
.brands {
  padding: 123px 0;
}

.brands__title {
  text-align: center;
  margin-bottom: 28.5px;
}

.brands__subtitle {
  text-align: center;
  margin-bottom: 58px;
}

.brands__logos-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 238px;
  gap: 6px;
}

.brands__logos-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* PORTFOLIO */
.portfolio {
  padding: 151px 0 77px;
}

.portfolio__title {
  margin-bottom: 29px;
  text-align: center;
}

.portfolio__subtitle {
  margin-bottom: 109px;
  text-align: center;
}

.gallery__filters {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
}

.gallery__filers-button {
  padding: 12px 40px;
  border: 1px solid #333333;
  font-size: 14px;
  line-height: 1;
  color: #111111;
  background-color: #FFFFFF;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  transition: 150ms;
}

.gallery__filers-button:hover {
  background-color: #333333;
  color: #F1AD1D;
}

.gallery__filers-button.gallery__filers-button--active {
  cursor: default;
  background-color: #333333;
  color: #F1AD1D;
}

.gallery__card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.gallery__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 28px;
  padding: 51px 13px 37px;
  border: 2px solid #333333;
}

.gallery__card-title.orange-line {
  padding-bottom: 25px;
}

.gallery__card-title {
  font-size: 18px;
  color: #111111;
  text-align: center;
}

.gallery__card-text {
  font-size: 14px;
  color: #5B5B5B;
  text-align: center;
  min-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.gallery__card-btn {
  min-width: 141px;
  min-height: 39px;
  font-weight: 700;
}

.gallery__card {
  position: relative;
  overflow: hidden;
}

.gallery__card:hover .gallery__card-image {
  left: -100%;
  opacity: 0;
}

.gallery__card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 200ms;
  opacity: 1;
  object-position: center;
  object-fit: cover;
}

/* bg-divider */
.bg-divider {
  min-height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-divider--1 {
  background-image: url("../img/bg-divider-1.png");
}

.bg-divider__title {
  color: #FFFFFF;
  text-align: center;
}

.bg-divider__title span {
  color: #D4971B;
}

/* bg-divider */
.bg-divider {
  min-height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-divider--1 {
  background-image: url("../img/bg-divider-1.png");
}

.bg-divider__title {
  color: #FFFFFF;
  text-align: center;
}

.bg-divider__title span {
  color: #D4971B;
}

/* contact-us section */
.contact-us {
  padding: 140px 0;
}

.contact-us__wrapper-content {
  display: grid;
  grid-template-columns: 574px 360px;
  column-gap: 225px;
}

.contact-us__title {
  text-align: center;
  margin-bottom: 28px;
}

.contact-us__subtitle {
  text-align: center;
  margin-bottom: 45px;
}

/* FORM */
.send-message__title {
  min-width: 383px;
  max-width: 100%;
  width: max-content;
  min-height: 59px;
  background-color: #333333;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 17px;
  margin-bottom: 12px;
}

.send-message__subtitle {
  color: #505050;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lato", sans-serif;
}

.form__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.form__inputs input {
  width: 100%;
  margin-bottom: 19px;
}

.form__textarea {
  width: 100%;
  margin-bottom: 21px;
}

.form__reset-button, .form__submit-button {
  min-width: 122px;
  min-height: 46px;
}

.form__reset-button {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
